body {
    background-color: #0C1629;
    color: #FFFFFF;
}

nav {
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
}

.button_submit {
    background: #0F2D40;
    border-color: #140D36;
    color: antiquewhite;
    font-weight: 700;
    padding: 10px;
    border-radius: 15px;
    border: none;
}


main {
    background-color: #0F2D40;
    border-radius: 15px;
    padding: 25px;
    border: 3px solid #0F1440;
    border-radius: 15px;
}

section {
    padding: 500px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.entry {
    background: linear-gradient(45deg, #0D3136, #0C1629);
    border-radius: 15px;
    font-size: 20px;
    width: 326px;
    height: 289px;
    padding: 25px;
    box-shadow: 0px 7px 5px 0px #140D36;
}

input {
    border-radius: 10px;
    border: 3px solid #140D36;
}

.add_btn {
    background: linear-gradient(45deg, #140D36, #0F1440);
    border-color: #2D3142;
    color: antiquewhite;
    font-weight: 700;
    padding: 10px;
    border-radius: 15px;
    border: none;
}
